<html>
<head>
    <title>NEXT STAFF MAKER</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="/assets/images/common/favicon.ico">
</head>
<body>
    <section class="sec-container">
        <%- include('../common/logo.ejs') %>
        <section class="sec-maker" id="prg-maker">
            <section class="sec-maker-canvas">
                <%- include('./modules/canvas', {}) %>
                <%- include('./modules/createButton', {}) %>
            </section>
            <section class="sec-maker-parts">
                <%- include('./modules/tab', {categories: categories}) %>
                <section class="sec-maker-parts-frame" id="prg-frame">
                    <% for (const [index, category] of categories.entries()) { %>
                        <%- include('./modules/frame', {category: category}) %>
                    <% } %>
                    <%- include('./modules/selectBackgroundColor.ejs', {backgroundColors: backgroundColors}) %>
                </section>
            </section>
        </section>
    </section>
    <section class="sec-overlay is-hide" id="prg-overlay">
        <%- include('./modules/result.ejs', {}) %>
    </section>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css" />
    <script src="bundle.js"></script>
</body>
</html>
