<html>
<head>
    <title>NEXT STAFF MAKER</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
    <section class="sec-container">
        <h1>New Project Maker</h1>
        <section class="sec-maker">
            <section class="sec-maker-canvas">
                <%- include('./modules/canvas', {}) %>
                <%- include('./modules/createButton', {}) %>
            </section>
            <section class="sec-maker-parts">
                <%- include('./modules/tab', tabs) %>
                <%- include('./modules/frame', parts) %>
            </section>
        </section>
    </section>
    <section class="sec-overlay is-hide" id="prg-overlay">
        <%- include('./modules/result.ejs', {}) %> 
    </section>


    <script src="/assets/js/lib/html2canvas.js" type="module"></script>
    <script src="/assets/js/pages/maker/tab.js" type="module"></script>
    <script src="/assets/js/pages/maker/frame.js" type="module"></script>
    <script src="/assets/js/pages/maker/createButton.js"></script>
</body>
</html>
