<section class="sec-frameArea prg-frameArea" data-category="<%- category.name %>">
    <!-- 子カテゴリがあれば表示 -->
    <% if (category.children) { %>
        <section class="sec-maker-parts-frame-category">
            <%- include('./selectCategory', {childCategories: category.parts, parent: category.name}) %>
        </section>
    <% } %>

    <% if (category.variation) { %>
        <section class="sec-maker-parts-frame-category">
            <%- include('./selectVariation', {variation: category.variation, target: category.name}) %>
        </section>
    <% } %>

    <!-- パーツ選択するエリア -->
    <section class="sec-maker-parts-frame-parts prg-parts-frame prg-parts-frame-<%- category.name %>">
        <% let url = '/assets/images/pages/maker/parts/' %>
        <% if (category.children) { %>
            <% const childUrl = url + category.name + '/' %>
            <% for (const child of category.parts) { %>
                <%- include('./selectParts', {category: child, url: childUrl, child: true}) %>
            <% } %>
        <% } else { %>
            <%- include('./selectParts', {category: category, url: url, child: false}) %>
        <% } %>
    </section>
</section>
